<a href="https://colab.research.google.com/github/siliang625/projectX/blob/master/dataset2_eda.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.6/dist-packages (1.0.5)
Requirement already satisfied: python-dateutil>=2.6.1 in /usr/local/lib/python3.6/dist-packages (from pandas) (2.8.1)
Requirement already satisfied: numpy>=1.13.3 in /usr/local/lib/python3.6/dist-packages (from pandas) (1.18.5)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.6.1->pandas) (1.15.0)

## Dataset: Severe Storm Event Details

dataset source: https://console.cloud.google.com/bigquery?project=around-204022&folder=&organizationId=&p=bigquery-public-data&d=noaa_historic_severe_storms&t=storms_2020&page=table

This is partial data from year 2020, original data ranges from 1950 till now.

In [6]:
!ls

sample	sample_data

In [8]:
import pandas as pd

In [18]:
df = pd.read_csv("sample.csv")

In [19]:
df.head(10)

   episode_id  event_id  ... event_longitude             event_point
0      143960    865452  ...        -95.9460  POINT(-95.946 36.1514)
1      143960    865455  ...        -94.9710  POINT(-94.971 35.9106)
2      143960    865453  ...        -95.9585  POINT(-95.9585 36.069)
3      143960    865454  ...        -95.9500    POINT(-95.95 36.179)
4      143993    865695  ...        -98.9500     POINT(-98.95 29.59)
5      143993    865710  ...        -98.7000      POINT(-98.7 29.59)
6      143993    865694  ...        -99.1700     POINT(-99.17 29.69)
7      143993    865692  ...        -98.6800     POINT(-98.68 30.66)
8      143993    865709  ...        -98.4100     POINT(-98.41 30.13)
9      143993    865696  ...        -98.9400     POINT(-98.94 29.17)

[10 rows x 33 columns]

In [20]:
df.shape

(5772, 33)

In [23]:
df.columns

Index(['episode_id', 'event_id', 'state', 'state_fips_code', 'event_type',
       'cz_type', 'cz_fips_code', 'cz_name', 'wfo', 'event_begin_time',
       'event_timezone', 'event_end_time', 'injuries_direct',
       'injuries_indirect', 'deaths_direct', 'deaths_indirect',
       'damage_property', 'damage_crops', 'source', 'magnitude',
       'magnitude_type', 'flood_cause', 'tor_f_scale', 'tor_length',
       'tor_width', 'tor_other_wfo', 'location_index', 'event_range',
       'event_azimuth', 'reference_location', 'event_latitude',
       'event_longitude', 'event_point'],
      dtype='object')

In [24]:
df.dtypes

episode_id              int64
event_id                int64
state                  object
state_fips_code         int64
event_type             object
cz_type                object
cz_fips_code            int64
cz_name                object
wfo                    object
event_begin_time       object
event_timezone         object
event_end_time         object
injuries_direct         int64
injuries_indirect       int64
deaths_direct           int64
deaths_indirect         int64
damage_property       float64
damage_crops          float64
source                 object
magnitude             float64
magnitude_type        float64
flood_cause            object
tor_f_scale            object
tor_length            float64
tor_width             float64
tor_other_wfo          object
location_index        float64
event_range           float64
event_azimuth          object
reference_location     object
event_latitude        float64
event_longitude       float64
event_point            object
dtype: object