<a href="https://colab.research.google.com/github/siliang625/projectX/blob/master/dataset3_eda.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.6/dist-packages (1.0.5)
Requirement already satisfied: numpy>=1.13.3 in /usr/local/lib/python3.6/dist-packages (from pandas) (1.18.5)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas) (2018.9)
Requirement already satisfied: python-dateutil>=2.6.1 in /usr/local/lib/python3.6/dist-packages (from pandas) (2.8.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.6.1->pandas) (1.15.0)

In [4]:
import pandas as pd

In [25]:
!ls

hail  sample_data  tornado  wind

In [6]:
df_tornado = pd.read_csv("tornado")

In [7]:
df_tornado.head(10)

                 timestamp  ...         report_point
0  2019-01-04 10:40:00 UTC  ...  POINT(-85.28 31.62)
1  2019-01-19 20:04:00 UTC  ...  POINT(-86.73 32.49)
2  2019-01-19 20:52:00 UTC  ...  POINT(-86.24 32.52)
3  2019-01-19 20:58:00 UTC  ...  POINT(-86.15 32.85)
4  2019-02-23 23:44:00 UTC  ...  POINT(-88.31 33.06)
5  2019-02-23 23:52:00 UTC  ...  POINT(-88.06 33.66)
6  2019-02-23 23:54:00 UTC  ...   POINT(-87.98 33.7)
7  2019-02-24 00:38:00 UTC  ...  POINT(-87.68 33.83)
8  2019-02-24 07:54:00 UTC  ...  POINT(-86.18 32.86)
9  2019-03-03 19:19:00 UTC  ...  POINT(-86.75 32.47)

[10 rows x 10 columns]

In [8]:
df_tornado.shape

(1677, 10)

In [12]:
df_tornado.columns

Index(['timestamp', 'time', 'f_scale', 'location', 'county', 'state',
       'latitude', 'longitude', 'comments', 'report_point'],
      dtype='object')

In [10]:
df_tornado.dtypes

timestamp        object
time              int64
f_scale          object
location         object
county           object
state            object
latitude        float64
longitude       float64
comments         object
report_point     object
dtype: object

In [11]:
df_tornado.describe()

              time    latitude    longitude
count  1677.000000  1677.00000  1677.000000
mean   1362.385808    36.74675   -92.475713
std     886.795749     4.33788     8.448823
min       0.000000    24.67000  -122.930000
25%     342.000000    32.87000   -98.030000
50%    1808.000000    36.44000   -92.440000
75%    2149.000000    39.94000   -86.840000
max    2358.000000    48.56000   -67.960000

In [13]:
df_hail = pd.read_csv("hail")
df_wind = pd.read_csv("wind")

In [14]:
df_hail.head(10)

                 timestamp  ...         report_point
0  2019-06-26 01:03:00 UTC  ...       POINT(-40.4 0)
1  2019-08-10 23:54:00 UTC  ...       POINT(-5.91 0)
2  2019-03-25 21:21:00 UTC  ...  POINT(-87.77 32.77)
3  2019-03-25 21:55:00 UTC  ...  POINT(-87.59 32.77)
4  2019-03-14 19:47:00 UTC  ...  POINT(-88.11 33.66)
5  2019-05-16 21:12:00 UTC  ...  POINT(-86.75 33.89)
6  2019-03-26 00:50:00 UTC  ...    POINT(-87.8 31.7)
7  2019-03-15 03:15:00 UTC  ...  POINT(-85.84 34.29)
8  2019-03-25 22:36:00 UTC  ...  POINT(-86.33 32.73)
9  2019-05-01 21:46:00 UTC  ...  POINT(-86.21 32.51)

[10 rows x 10 columns]

In [17]:
df_hail.columns

Index(['timestamp', 'time', 'size', 'location', 'county', 'state', 'latitude',
       'longitude', 'comments', 'report_point'],
      dtype='object')

In [21]:
df_hail.shape

(5397, 10)

In [15]:
df_wind.head(10)

                 timestamp  ...         report_point
0  2019-01-19 22:54:00 UTC  ...  POINT(-85.18 32.49)
1  2019-02-12 18:11:00 UTC  ...  POINT(-85.13 32.49)
2  2019-03-03 20:22:00 UTC  ...   POINT(-85.24 32.6)
3  2019-03-26 00:13:00 UTC  ...   POINT(-85.1 32.55)
4  2019-06-07 17:56:00 UTC  ...   POINT(-85.42 32.6)
5  2019-06-07 18:55:00 UTC  ...  POINT(-85.42 32.51)
6  2019-06-07 19:18:00 UTC  ...  POINT(-85.18 32.71)
7  2019-06-07 19:21:00 UTC  ...  POINT(-85.09 32.54)
8  2019-07-09 20:00:00 UTC  ...  POINT(-85.49 32.67)
9  2019-08-05 22:49:00 UTC  ...  POINT(-85.07 32.52)

[10 rows x 10 columns]

In [20]:
df_wind.shape

(16064, 10)

In [24]:
df_wind.columns

Index(['timestamp', 'time', 'speed', 'location', 'county', 'state', 'latitude',
       'longitude', 'comments', 'report_point'],
      dtype='object')